/.git
/.gitignore
/dive.log
/LICENSE.md
/README.md
/CHANGELOG.md
/CODE_OF_CONDUCT.md
/docker-compose.yml
/.dockerignore  
/vendor
/node_modules
/web/wp
/web/app/uploads
/web/app/plugins
/web/app/upgrade
/web/app/themes/default-theme/dist