/.git
/.gitignore
/dive.log
/LICENSE.md
/README.md
/docker-compose.yml
/.dockerignore  
/Dockerfile
/vendor
/node_modules
/web/app/cache
/web/app/mu-plugins
/web/app/plugins
/web/app/uploads
/web/app/wflogs
