# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
web/app/wflogs/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Theme
web/app/themes/default-theme/dist/*
!web/app/themes/default-theme/dist.gitkeep

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# Node
/node_modules

# WP-CLI
wp-cli.local.yml
